.set{
    margin: inherit;
    color: #102dce;
}
.set1{
    margin: inherit;
    color: #ef0813;

}
.set2{
    margin: inherit;
    color: #46962c;

}
.img{
    margin-left: 10px;
    padding: 8px;
}
.cc{
    padding: 5px;
    font-size: 14px;
    margin-bottom: -6px;
    margin-top: 2px;
}
#menu .fa{
    margin-right: 10px;
}
.lf{
    color: #5d0eea;
    margin-top: -17px;



    margin-left: 14px;
}
.sel{
    width: 150px;
    margin-left: 263px;
    margin-top: 10px;
    border-color: #f10d5b;
}
.align{

    margin-left: 295px;
    margin-top: -15px;
    font-size: 13px;
}

.bar-nav{
    background:#151414b3;

}
.menu{
    background-image:url('../assets/images/00d48c5c-8065-4861-aa6c-152e5dee6770.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    position: relative;
    height: 400px;
}
.al{
    margin-top: 50px;
    margin-bottom: 50px;
}
.al1{
    margin-left: 356px;
}

.al3{
    margin-bottom: 40px;
    margin-left: 31px;
}
h4{
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
}
h1{
    color: white;
}


.menu1{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;	
}
.menu2{
    height: 91px;
    background-color: #9e9e9e;
}
.rounded-pill{
    height: 55px;
    width: 190px;
 
}
.bb1{
    background-color: #DCFFCC;
}
.bb2{
    background-color: #f6c89f;
}
.bb3{
    background-color: #93a01a;
}
.bb4{
    background-color: #eeaff9;
}
.menu3{
    background: white;
    height: 200px;

}
.menu4{
    width: 160px;
    height: 140px;
    border:2px solid #FFC107;
}
.menu5{
    background-image: url('../assets/images/person-writing-in-a-book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;

}
.menu6{
    margin-top: 25px;
}
.menu7{
    margin-top: 80px;
}
.alt6{
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.form-control{
    margin-top: 39px;
    margin-bottom: 46px;
    border: 1px solid black;
}
.menu8{
    text-align: center;

}
.bb8{
    width: 330px;
    background-color: #a34a28;
    margin-top: 30px;
    margin-bottom: 50px;

}
.menu9{
    background: #000000ba;
    height: 400px;

}
.rr{
    height: 45px;
    width: 45px;
    background-color: white;
    text-align: center;
}
.menu10{
    margin-top: 43px;
    margin-bottom: 43px;
}
.menu11{
    margin-bottom: 43px;

}
.sp{
    color: #e44c1c;;
        font-size: 20px;
}
.im1{
        margin-top: 10px;
}
